body{
	background: url("https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1580390868232& di=46cf8c300a9187ac888b72729ca96c52&imgtype=0&src=http%3A%2F%2Fi0.hdslb.com%2Fbfs%2Farchive%2Fb97a9827ca39ace37e7d33a99c717c204120f3d3.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	text-align: center;
}

#main-box{
	width: auto;
	height: auto;
	background: #00000080;
	color: #fff;
}

#main-box .text-box {
	text-align: center;
	font-size: 25px;
}
