body{
	background: url("../photo/1002069.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	text-align: center;
}

#main-box{
	width: auto;
	height: auto;
	background: #00000080;
	color: #fff;
}

#main-box .text-box {
	text-align: center;
	font-size: 25px;
}
