body{
	background: url("https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1580233917245&di=ab80b7b43bcb88f5e6d142c0956e9165&imgtype=0&src=http%3A%2F%2Fpic1.win4000.com%2Fwallpaper%2F3%2F589ea5771e06e.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	text-align: center;
}

#main-box{
	width: auto;
	height: auto;
	background: #00000080;
	color: #fff;
}

#main-box .text-box {
	text-align: center;
	font-size: 25px;
}
